body{
	min-width:840 px;
	line-height: 1.5;
	padding: 0;
  margin: 0;
  background-color: #ffffff;
}

/* Global */
.container{
    width: 98%;
    margin: auto;
    overflow: hidden;
}

h1{
	padding:0;
	margin:0;
}


a{
	text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 6px;
    border-bottom: #0f4d92 3px solid;
		margin:0;
		padding:0;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 26px;
}

header li{
    float: left;
    display: inline;
    padding: 0 0 0 20px;
}

header nav{
    float: right;
}

header .highlight{
    color: #FFCC00;
    font-weight: bold;
}

header .current a, #info .current{
    color: #2ECC71;
    font-weight: bold;
}


/* Sport Banner Scores */
#scores_area{
	height:120px;
	width:100%;
	background-color: #35424a;
	margin:0;
	padding:0;
}

#scores_area ul {
    width: 100%;
		color: #fff;
    display: block;
    white-space: nowrap;
		overflow: auto;
}

#scores-list li {
		width: 200px;
		display: inline-block;
		margin-top: 5px;
    background: #2ECC71;
    border-radius: 4px;
		padding: 3px;
}

#score_info {
	margin:0;
	padding:0;
	border-bottom: #35424a 3px solid;
}

#team_name{
	float:left;
	width:80%;
}

#team_score{
	float:right;
	width:18%;
	text-align: right;
}

#like_area{
	width: 100%;
	text-align: center;
}

#like_button{
	background: #2ECC71;
	border: none;
}


/* Chat */
#chat-area{
	width: 70%;
	margin: auto;
	float:center;
	margin-top: 20px;
	height: 500px;
}

#chat-box{
	border: 2px solid #0f4d92;
	border-radius: 8px;
	margin: auto;
	float:center;
	background-color: #0f4d92;
	height:40%;
	max-height:100%;
	width:100%;

}

#messages-box{
	display: inline-block;
	margin: auto;
	max-height: 300px;
	overflow:scroll;
	width:100%;
	text-align: center;
	float:center;
}

#button_new_room{
    height: 48px;
    width: 100%;
		margin-top: 5px;
    background: #2ECC71;
    border: 0;
    font-size: 22px;
    color: #fff;
    min-width: 350px;
}

#room-name{
	color: #fff;
	font-size: 120%;
	text-align:center;
	float:center;
	border-bottom: #2ECC71 3px solid;
}
#room{
	display:inline-block;
	padding-top: .5%;
	margin:0% 5% 0% 8%;
	float:center;
	text-align: center;
}

#chat-area2{
	width: 96%;
	margin: auto;
	float:center;
	margin-top: 20px;
}

#messages-area{
	width: 80%;
}

#messages-box li{
	float:right;
	display:inline-block;
	width: 100%;
	color: rgb(193,193,194);
}

#messages-box a{
	color: rgb(193,193,194);
}
.username{
	color: rgb(250, 250, 250);
}
.time{
	color: rgb(150, 150, 150);
}

#messageForm input{
	width:87%;
	height:46px;
	margin-top: 5px;
	background: #2ECC71;
	border: 0;
	font-size: 16px;
	color: #fff;
	float:left;
	display:inline;
}

#messageForm input[type=submit]{
	float:right;
	width:12%;
	height:48px;
	display:inline;
}

#submitButton{
    height: 48px;
		margin-top: 5px;
    background: #2ECC71;
    border: 0;
    font-size: 16px;
    color: #fff;
		float:right;
		display:inline;
		width: 12%;
}
