<!DOCTYPE html>
<html>
	<head>
		<title>SportFeed</title>
		<link rel="stylesheet" href="/style_base.css" type="text/css"/>
		<script src='/socket.io/socket.io.js'></script>
		<script src="/index.js"></script>
	</head>
	<body>
		<header id="branding">
			<div class="container">
				<div>
					<h1><a href="/" class="highlight">SportFeed</a></h1>
				</div>
			</div>
		</header>

		<section id="scores_area">
			<div class="container">
				<ul id="scores-list">
					{{#games_array}}
					<li>
						<div>
							<div id="like_area">
								<button type="button" id="like_button"><img src="heart.jpg" style="width:20px;height:20px;"></button>
							</div>

							<div id="score_info">{{sport}} – {{status}}</div>
							<div id="team_name">{{name_team1}}</div>
							<div id="team_score">{{score_team1}}</div>
							<div id="team_name">{{name_team2}}</div>
							<div id="team_score">{{score_team2}}</div>

						</div>
					</li>
					{{/games_array}}
        </ul>
			</div>
		</section>

		<section>
			<div class="container">
				<div id="chat-area">
					<div id="chat-box">
						<div id="room-name">Chat Rooms</div>

						<div id="messages-box">
							<ul id="messages" >
								{{#roomlist}}
								<li id={{RoomName}} ><a href="/{{RoomName}}"> room {{RoomName}}</a><br>
								{{/roomlist}}
							</ul>
						</div>

					</div>
					<button type="button" name="optimize" id="optimize"><a href="/New">Create New Room</a></button>
				</div>

			</div>
		</section>

	</body>
</html>
