<!DOCTYPE html>
<html>
	<head>
		<title>SportFeed</title>
		<link rel="stylesheet" href="/style_base.css" type="text/css"/>
		<meta name="nickname" content="{{nickname}}"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src='/socket.io/socket.io.js'></script>
		<script src="/indexed.js"></script>
	</head>
	<body>
		<header id="branding">
			<div class="container">
				<div>
					<h1><a href="/" class="highlight">SportFeed</a></h1>
				</div>
			</div>
		</header>

		<section id="scores_area">
			<div class="container">
				<ul id="scores-list">
					{{#games_array}}
					<li>
						<div>
							<div class="like_area" id="{{sport}}">
								<button type="button" id="like_button"><img src="/heart.jpg" style="width:20px;height:20px;"></button>
							</div>

							<div id="score_info">{{sport}} – {{status}}</div>
							<div id="team_name">{{name_team1}}</div>
							<div id="team_score">{{score_team1}}</div>
							<div id="team_name">{{name_team2}}</div>
							<div id="team_score">{{score_team2}}</div>

						</div>
					</li>
					{{/games_array}}
        </ul>
			</div>
		</section>

		<section>
			<div class="container">
				<div id="chat-area">
					<div id="chat-box">
						<div id="room-name">Chat Rooms</div>

						<div id="messages-box">
							<ul id="messages" >
								{{#roomlist}}
								<li id={{RoomName}} ><a href="/{{RoomName}}/{{nickname}}"> room {{RoomName}}</a><br>
								{{/roomlist}}
							</ul>
						</div>

					</div>
					<form method="POST" onsubmit="return true" id="roomForm">
						<input type="text" name="message" id="nameField">
						<input type="submit" id="submit_room_button" value="Create Room">
					</form>
				</div>

			</div>
		</section>

	</body>
</html>
