<!DOCTYPE html>
<html>
	<head>
		<title>SportFeed</title>
		<link rel="stylesheet" href="/style_base.css" type="text/css"/>
		<meta name="roomName" content="{{roomName}}"/>
		<meta name="nickname" content="{{nickname}}"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src='/socket.io/socket.io.js'></script>
		<script src="/messages.js"></script>
	</head>

	<body>
		<header id="branding">
			<div class="container">
				<div>
					<h1><a href="/index/{{nickname}}" class="highlight">SportFeed</a></h1>
				</div>
			</div>
		</header>

		<section id="scores_area">
			<div class="container">
				<ul id="scores-list">
					{{#games_array}}
					<li>
						<div>
							<div class="like_area" id="{{sport}}">
								<button type="button" id="like_button"><img src="/heart.jpg" style="width:20px;height:20px;"></button>
							</div>

							<div id="score_info"><a href="/{{id}}/{{nickname}}">{{sport}} – {{status}}</a></div>
							<div id="team_name">{{name_team1}}</div>
							<div id="team_score">{{score_team1}}</div>
							<div id="team_name">{{name_team2}}</div>
							<div id="team_score">{{score_team2}}</div>

						</div>
					</li>
					{{/games_array}}
        </ul>
			</div>
		</section>

		<section>
			<div class="container">
				<div id="chat-area2">

					<div id="chat-box">

						<div id="room-name">
							<p>You are in room: {{roomName}}</p>
						</div>

						<div class="messages-area">
							<div id="messages-box">
								<ul id="messages">
									<li id="ex1"><span class="username"> Matty </span> <span class="time"> (02:44:32) </span> <span class="text">Welcome to chatroom {{roomName}}</span></li><br>
									<li id="ex1"><span class="username"> Clara </span> <span class="time"> (02:44:37) </span> <span class="text">Type in a message then press send!</span></li><br>
								</ul>
							</div>
						</div>

						<form method="POST" onsubmit="return true" action="/{{roomName}}/messages" id="messageForm">
							<input type="text" name="message" id="messageField">

							<input type="hidden" name="nickname" id="nicknameField" value="">

							<input type="submit" id="submitButton" value="Send">
						</form>

					</div>

				</div>
			</div>
		</section>

	</body>
</html>
